<mat-card>
    <mat-card-title>Développeur à table</mat-card-title>
    <mat-card-subtitle>Qui mange bien code mieux</mat-card-subtitle>
    <img mat-card-image [src]="imgHamburger" alt="photo hamburger" />
    <mat-card-content>
        Un hamburger, ou par aphérèse burger, est un sandwich d'origine allemande, composé de deux pains de forme ronde
        généralement garnis d'une galette de steak haché et de crudités, salade, tomate, oignon, cornichon ainsi que de
        sauce
    </mat-card-content>
</mat-card>